<% include ../partials/header %>

<div class="container pt-5">
    <form action="/home/<%= item %>/comments/<%= comment._id %>?_method=PUT" method="POST" class="w-50 mx-auto mb-4">
        <h1 class="h3 mb-3 font-weight-normal text-center">Edit comment:</h1>
        <label>Comment:</label>
        <textarea
            class="form-control mb-3"
            name="comment[text]" rows="4" required><%= comment.text %></textarea>

        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Submit
        </button>
    </form>
    <div class="container-fluid w-50 text-left">
        <a href="/home">Back to Homepage</a>
    </div>
</div>

<% include ../partials/footer %>
