<% include ../partials/header %>

<div class="container-fluid w-75 pt-5 customLogForm px-0">
    <div class="container-fluid px-0 pb-3">
    <a class="btn btn-info btn-lg" href="/home/<%= item._id %>"
        ><i class="far fa-arrow-alt-circle-left fa-lg"></i> Back</a>
    </div>
    <form action="/home/<%= item._id %>/comments" method="POST" class="form-post mx-auto mb-4">
        <h1 class="h3 mb-3 font-weight-normal text-center">Post a new comment to <strong><%= item.name %></strong></h1>
        <textarea
            class="form-control mb-3"
            name="comment[text]" rows="5" required></textarea>

        <button class="btn btn-lg btn-info btn-block" type="submit">
            Submit
        </button>
    </form>
</div>

<% include ../partials/footer %>
