<% include partials/header %>

<div class="text-center d-flex justify-content-center">
  <form action="/login" method="POST" class="form-signin mt-5">
    <h1 class="h3 mb-3">Sign in</h1>
    <label for="inputUsername" class="sr-only">Username</label>
    <input
      type="text"
      id="inputUsername"
      class="form-control form-control-lg mb-2"
      placeholder="Username"
      name="username"
      autocomplete="off"
      required
      autofocus
    />
    <label for="inputPassword" class="sr-only">Password</label>
    <input
      type="password"
      id="inputPassword"
      class="form-control form-control-lg mb-4"
      placeholder="Password"
      name="password"
      required
    />
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Submit
    </button>
  </form>
</div>

<% include partials/footer %>
