<% include partials/header %>

<div class="container-fluid w-75">
    <div class="row justify-content-center">
        <div class="col-sm-4">
            <form action="/login" method="POST" class="form-signin mt-5">
                <h1 class="h3 mb-3 font-weight-normal">Please Sign in</h1>
                <label for="inputUsername" class="sr-only">Username</label>
                <input type="text" id="inputUsername" class="form-control" placeholder="Username" name="username" autocomplete="off" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
            </form>
        </div>
    </div>  
</div>

<% include partials/footer %>
