<% include partials/header %>
<div class="container-fluid w-75 pt-5 customLogForm px-0 text-center">
    <div class="container-fluid px-0 pb-3 text-left">
    <a class="btn btn-info btn-lg" href="/home"
        ><i class="far fa-arrow-alt-circle-left fa-lg"></i> Back</a>
    </div>
  <form action="/register" method="POST" class="form-signin mx-auto">
    <h1 class="h3 mb-3">Registration form:</h1>
    <input
      type="text"
      class="form-control form-control-lg mb-2"
      placeholder="Username"
      name="username"
      autocomplete="off"
      required
      autofocus
    />
    <input
      type="password"
      class="form-control form-control-lg mb-3"
      placeholder="Password"
      name="password"
      required
    />
    <input
      type="password"
      class="form-control form-control-lg mb-3"
      placeholder="Confirm Password"
      name="confirmPassword"
      required
    />
    <input
      type="email"
      class="form-control form-control-lg mb-3"
      placeholder="Email"
      name="email"
      required
    />
    <button class="btn btn-lg btn-info btn-block" type="submit">
      Register
    </button>
    <div class="d-flex justify-content-center">
      <input
        type="password"
        class="form-control form-control-lg mb-1 w-50 text-center mt-5"
        placeholder="#admin code"
        name="adminCode"
      />
    </div>
    <label class="text-muted">Not required</label>
  </form>
</div>

<% include partials/footer %>
