<% include partials/header %>

<div class="container-fluid w-75 pt-5 customLogForm px-0 text-center">
  <div class="container-fluid px-0 pb-3 text-left">
    <a class="btn btn-info btn-lg" href="/home"
        ><i class="far fa-arrow-alt-circle-left fa-lg"></i> Back</a>
  </div>
  <form action="/reset/<%= token %>" method="POST" class="form-signin mx-auto">
    <h1 class="h3 mb-3">Change Password</h1>
    <input
      type="password"
      id="newPassword"
      class="form-control form-control-lg mb-2"
      placeholder="new password"
      name="password"
      autocomplete="off"
      required
      autofocus
    />
    <input
      type="password"
      id="confirmPassword"
      class="form-control form-control-lg mb-3"
      placeholder="confirm password"
      name="confirmPassword"
      required
    />
    <button class="btn btn-lg btn-info btn-block" type="submit">
      Submit
    </button>
  </form>
</div>

<% include partials/footer %>
