<% include partials/header %>

<div class="container">
  <div>
    <p><%= item.name %></p>
    <img src="<%= item.image %>" alt="pic" />
    <p><%= item.description %></p>
  </div>
</div>

<% include partials/footer %>
