body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f8fcfb;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
}

.logo {
  font-family: "Pacifico", cursive;
}

.customLogForm {
  height: 1100px;
  padding-top: 100px;
}

.headerStyle {
  font-size: 25px;
  font-weight: bold;
}

.form-signin {
  width: 100%;
  max-width: 420px;
}

.form-post {
  width: 100%;
  max-width: 500px;
}

.bg-1 {
  background-color: #f8fcfb;
}

.bg-2 {
  background-color: #c9fdd7;
  color: black;
}

.bg-3 {
  background-color: #79d1c3;
  color: #f8fcfb;
}

.bg-4 {
  background-color: #6892d5;
  color: #f8fcfb;
}
