<% include ../partials/header %>

<div class="container-fluid w-75 px-0 mt-3">
  <header class="jumbotron bg-4 mx-0">
    <div class="container-fluid">     
      <h3>This is an experimental website on which you can post items for sale and comment for any items posted</h4>
      <div class="pt-2">
        <a class="btn btn-outline-light" href="/home/new"><i class="fas fa-plus-circle fa-2x"></i> <span class="h3"> Item</span></a>
      </div>
    </div>
  </header>

  <div class="row">
    <div class="col-lg-12 mb-3 text-center">
      <h3 class="text-muted">Recent posts</h3>
    </div>
  </div>

  <div class="row" style="display: flex; flex-wrap: wrap">
    <% items.map((item) => { %>
    <div class="col-md-3 col-sm-6 mb-4">
      <div class="card">
        <img class="card-img-top" src="<%= item.image %>" alt="pics" />
        <div class="card-body">
          <h5 class="card-title text-center"><%= item.name %></h5>
          <p class="card-text d-flex justify-content-center">
            <a href="/home/<%= item._id %> " class="btn btn-info">More info</a>
          </p>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>

<% include ../partials/footer %>
