<% include ../partials/header %>

<div class="container-fluid w-75 pt-5 customLogForm px-0">
  <div class="container-fluid px-0 pb-3">
    <a class="btn btn-info btn-lg" href="/home"
      ><i class="far fa-arrow-alt-circle-left fa-lg"></i> Back</a
    >
  </div>
  <form action="/home" method="POST" enctype="multipart/form-data" class="form-post mx-auto">
    <h1 class="h3 mb-3 font-weight-normal text-center">
      <strong>Post a new item</strong>
    </h1>
    <input
      type="text"
      class="form-control mb-3"
      placeholder="Name"
      name="item[name]"
      required
      autofocus
    />
    <input
      type="number"
      min="0.10"
      step="0.10"
      class="form-control mb-3"
      placeholder="Price"
      name="item[price]"
      required
      autofocus
    />
    <label>Image upload</label>
    <input
      type="file"
      class="form-control mb-3"
      accept="image/*"
      name="image"
      required
    />
    <label>Description:</label>
    <textarea class="form-control mb-3" name="item[description]" rows="5"></textarea>

    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Submit
    </button>
  </form>
</div>

<% include ../partials/footer %>
