<% include ../partials/header %>

<div class="container pt-5">
  <form action="/home" method="POST" class="w-50 mx-auto mb-4">
    <h1 class="h3 mb-3 font-weight-normal text-center"><strong>Post a new item</strong></h1>
    <label for="inputName" class="sr-only">Name</label>
    <input
      type="text"
      id="inputname"
      class="form-control mb-3"
      placeholder="Name"
      name="name"
      required
      autofocus
    />
    <label for="inputImage" class="sr-only">Image URL</label>
    <input
      type="text"
      id="inputImage"
      class="form-control mb-3"
      placeholder="Image URL"
      name="image"
      required
    />
    <label for="inputImage"">Description:</label>
    <textarea
      id="inputDescription"
      class="form-control mb-3"
      placeholder="Description"
      name="description"
      rows="4"
      required
    >
    </textarea>

    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Submit
    </button>
  </form>
  <div class="container-fluid w-50 text-left">
    <a href="/home">Back to Homepage</a>
  </div>
</div>

<% include ../partials/footer %>
